<!DOCTYPE html>
<html>
<head>
	<title>AHM Wedding Blog</title>
	<meta charset="UFT-8">
	<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="../public/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="../public/cool.js"></script>
	<link rel="stylesheet" type="text/css" href="../welcome.css">
	<link rel="stylesheet" type="text/css" href="../register.css">
	<link rel="stylesheet" type="text/css" href="../login.css">
</head>
<body>
	<!-- header moved from welcome.erb -->
		<header>
		<a href="/"><h1> AHM Wedding blog</h1></a>
		</header>


<!-- 		<% if flash[:notice] %>
		    <div class="flash notice">
		      <%=flash[:notice] %>
		    </div>
		<% end %>
		<% if flash[:alert] %>
		    <div class="flash alert">
		     	<%=flash[:alert] %>
		    </div>
  	<% end %> -->


<%= yield %>

<!-- footer moved from welcome.erb -->
	<footer>
		<h3> Created by Antonio Brown Horatio Rosa Mai Tamakoshi</h3>
	</footer>
</body>
</html>