
<h2>What's on your mind? Enter a new post</h2>

<div id="newposts">
	
	<form id="newpost" action="/posts" method="POST">
		<input id="title" class="input" type="text" name="title" placeholder="Enter post title"><br>
		<textarea name="posts" id="posts" cols="100" rows="3"></textarea><br>
		<input class="submit" type="submit" value="Submit your post">

	</form>

</div>