<nav>
<% if current_user %>
	 <p class="hello">Hello <%= current_user.fname %></p> |
	 <a href="/loggout">
	 	<img class="logoutb" src="/images/logout.jpg"> 
	</a>
 <% else %>
	<a href="/login">
		<img class="loginb" src="/images/waxlog.jpg">
	</a>

	 <a href="/register">
	 	<img class= "registerb" src="/images/regwax.jpg">
	 </a>
		 <% end %>
</nav>


<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
<div class="alert"><%= flash[:alert] if flash[:notice] %></div>



<div class="formtop">
	<p class="formtop-msg">Register Form</p>
</div>

<div id="formfield">
	<form action="/register" method="POST">
		<fieldset>
		<legend>All fields are required</legend>

		<div class="regcontents">
		<label for="username">Choose a Username</label>
		<input class="input" type="text" name="username"  placeholder="Enter your username" required><br>
		<label for="password">Choose a Password</label>
		<input class="input" type="password" name="password"  placeholder="Enter your password" required><br>
		<label for="password">Re-enter Password</span></label>
		<input class="input" type="password" name="repassword" placeholder="Re-enter your password" required>

		<input  class="book" type="image" src="/images/reg.jpg" width="175px" height=" 75px" border="0" alt="Submit" />
	</div>

	</fieldset>
</form>
</div>

