

<!-- <h1>Sign up for our AHM Wedding blog</h1> -->
<form action='/register' method="POST">
	<fieldset>
		<legend>Register for our AHM Wedding Blog:</legend>

		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Enter your username" required>
		<label for="password">Please choose a password</label>
		<input type="password" name="password" placeholder="Enter your password" required>
		<label for="password">Please re-enter your password</label>
		<input type="password" name="repassword" placeholder="Re-enter your password" required>
		<input type="submit">

	</fieldset>
</form>
