<nav>
<% if current_user %>
	 <p class="hello">Hello <%= current_user.fname %></p> |
	 <a href="/logout">
	 	<img class="logoutb" src="/images/logout.jpg"> 
	</a>
 <% else %>
	<a href="/login">
		<img class="loginb" src="/images/waxlog.jpg">
	</a>

	 <a href="/register">
	 	<img class= "registerb" src="/images/regwax.jpg">
	 </a>
		 <% end %>
</nav>


<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
<div class="alert"><%= flash[:alert] if flash[:notice] %></div>



<div class="formtop">
	<p class="formtop-msg">Registration Form</p>
</div>

<div id="formfield">
	<form action="/register" method="POST">
		<fieldset>
		<label for="username">Username</label>
		<input type="text" name="username"  placeholder="Enter your username" required><br>
		<label for="password">Please choose a password</label>
		<input type="password" name="password"  placeholder="Enter your password" required><br>
		<label for="password">Please re-enter your password</label>
		<input type="password" name="2xpassword" placeholder="Re-enter your password" required>
		<label for="fname">First Name</label>
		<input type="text" name="fname" placeholder="First Name" required>
		<label for="lname">Last Name</label>
		<input type="text" name="lname" placeholder="Last Name" required>
		<label for="fname">Email Address</label>
		<input type="text" name="email" placeholder="Email" required>
		<br>
		<input class="button" type="submit">
	</fieldset>
</form>
</div>

