<h1>Sign up for our AHM Wedding blog</h1>


<form action='/sign-up' method="POST">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder="Enter your username" required>
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Enter your password" required>
	<input type="submit">