<!doctype>
<html>

<head>

	<style type="text/css">
	body {
   			background: url(http://festivalhill.org/media/images/29_wedding-rings-wallpaper1.jpg);
  			
  			background-size: 95%;
   			background-repeat: no-repeat;}

	p {font-size: 40px;
		
		font-weight: bold;
	}

	form {font-size: 30px;
		
		font-weight: bold;
	}

	input {font-size: 14px;
		
		font-weight: bold;
	}

	</style>



</head>

<body>

<p style='font-size:40'>Login to AHM Wedding Blog</p>

 <form style='font-size: 30px'; method="POST" action="/sign-in">
	 <label for="name">Name</label>
	 <input type="text" name="name" placeholder="Please enter your name">
	 <label for="password">Password</label>
	 <input type="text" name="password" placeholder='Please enter password'>
	 <input type="submit">
</form>

</body>
</html>
