
	<div id="top">
		<div class="topmsg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</div>
	</div>

<!-- header and footer moved to layout.erb -->

	<div id="main">
		<a href="/register">
			<div class="signup">
				<p class="sgupmsg">Register</p>
			</div>
		</a>
		<a href="/login">
			<div class="login">
				<p class="loginmsg">Log In</p>
			</div>
		</a>
	</div><!--main-->

