<!DOCTYPE html>
<html>
<head>
	<title>Welcome to AHM Wedding blog</title>
	<link rel="stylesheet" type="text/css" href="/welcome.css
	">
</head>
<body>
	<header>
		<h1> AHM Wedding blog</h1>
	</header>
	<div id="top">
		<div class="topmsg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
		</div>
	</div>
	<div id="main">
		<a href="/signup">
			<div class="signup">
				<p class="sgupmsg">Sign up</p>
			</div>
		</a>
		<a href="/login">
			<div class="login">
				<p class="loginmsg">Log in</p>
			</div>
		</a>
	</div><!--main-->
	<footer>
		<h2> Created by Antonio Brown, Horatio Rosa, Mai Tamakoshi</h2>
	</footer>
</body>
</html>