 @font-face{
  	font-family: mySecondFont;
   src: url(/images/badscript.ttf);

}

.hello{
	font-family: mySecondFont;
	font-size:50px;
	font-weight: bold;
	color: #C2DFFF;
}


.logoutb{
	width: 200px;
	height: 150px;


}
.registerb {
	width: 150px;
	height: 100px;

}

.loginb {
	width: 150px;
	height: 100px;

}



.notice{
	font-family: mySecondFont;
	font-size: 16px;
	color: #493D26;

}

.alert{
	font-family: mySecondFont;
	font-size: 16px;
	color: #C36241;


}



p.hello{
	font-size: 20px;
	font-family: mySecondFont;
}

/*
form{
	width: 70%;
	margin-left: 200px

}*/


.posthometop{
	width: 70%;
	height: 70px;
	margin-top: 0;
	margin-left: 15%;
	background-image: url("/images/tblue.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.posthometop-msg{
	font-size: 35px;
	text-align: center;
	color: #FEFCFF;
	text-shadow: 2px 2px #6F4E37;
	font-family: mySecondFont;
}

.postcontents{
	margin-left: 7%;
}

#postings{
	width: 80%;
	height: auto;
	margin-left: 10%;
	background-image: url("/images/board.jpg");
	background-size: 100%;
	background-repeat: repeat;

}

#postings form{
	margin: 30px auto 30px 10%;
	/*margin-left: 10%;*/
	width: 80%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


#postings .input {
	width: 250px;
	height: 40px;
	font-size: 16px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

#postings textarea {
	width: 400px;
	height: 70px;
	font-size: 16px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

.book{

	margin-left: 35%;
	padding-top: 40px;
	padding-bottom: 30px;
}
