 @font-face{
  	font-family: mySecondFont;
   src: url(/images/badscript.ttf);

}

.hello{
	font-family: mySecondFont;
	font-size:50px;
	font-weight: bold;
	color: #C2DFFF;
}




.logoutb{
	width: 200px;
	height: 150px;


}
.registerb {
	width: 150px;
	height: 100px;

}
.loginb {
	width: 150px;
	height: 100px;

}



.notice{
	font-family: mySecondFont;
	font-size: 16px;
	color: #493D26;

}

.alert{
	font-family: mySecondFont;
	font-size: 16px;
	color: #C36241;


}



p.hello{
	font-size: 20px;
	font-family: mySecondFont;
}




.logtop{
	width: 70%;
	height: 70px;
	margin-top: 0;
	margin-left: 15%;
	background-image: url("/images/tblue.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.logtop-msg{
	font-size: 35px;
	text-align: center;
	color: #FEFCFF;
	text-shadow: 2px 2px #6F4E37;
	font-family: mySecondFont;
}

legend{
	font-family: mySecondFont;
	font-size: 30px;
	color: #FEFCFF;
}



#logfield{
	width: 80%;
	height: auto;
	margin-left: 10%;
	background-image: url("/images/board.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

#logfield form{
	margin-top: 30px;
	margin-left:10%;
	width: 80%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}



#logfield .input {
	width: 500px;
	height: 50px;
	font-size: 20px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

#logfield label{
	font-size: 30px;
	font-family: mySecondFont;
	font-weight: bold;
	color: #FEFCFF;
	font-weight: bold;
	padding-right: 30px;
}



.book{

	margin-left: 35%;
	padding-top: 40px;
	padding-bottom: 30px;
}

img{
	display: inline;
	width: 450px;
	height: 450px;
}
