 @font-face{
  	font-family: mySecondFont;
   src: url(/images/badscript.ttf);

}


.logoutb{
	width: 200px;
	height: 150px;


}
.registerb {
	width: 150px;
	height: 100px;

}

.loginb {
	width: 150px;
	height: 100px;

}

.notice{
	font-family: mySecondFont;
	font-size: 16px;
	color: #493D26;

}

.alert{
	font-family: mySecondFont;
	font-size: 16px;
	color: #C36241;


}



p.hello{
	font-size: 20px;
	font-family: mySecondFont;
}


.posttop{
	width: 70%;
	height: 70px;
	margin-top: 0;
	margin-left: 15%;
	background-image: url("/images/tblue.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.posttop-msg{
	font-size: 35px;
	text-align: center;
	color: #FEFCFF;
	text-shadow: 2px 2px #6F4E37;
	font-family: mySecondFont;
}


.postcontents{
	margin-left: 5%;
}

#newposts{
	width: 80%;
/*	height: auto;*/
	margin-left: 10%;
	background-image: url("/images/board.jpg");
	background-size: 100%;
	background-repeat: repeat;

}

#newposts form{
	margin: 30px auto 30px 10%;
	/*margin-left: 10%;*/
	width: 80%;
	padding-top: 30px;
	padding-bottom: 30px;
}


#newposts .input {
	width: 500px;
	height: 50px;
	font-size: 20px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

/*#newposts label{
	font-size: 30px;
	font-family: mySecondFont;
	font-weight: bold;
	padding-right: 30px;
	color: #FEFCFF;
	
}*/

#newposts textarea {
	width: 600px;
	height: 200px;
	font-size: 20px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

#title{
	margin-left: 9%;
}

.book{
/*	margin: auto;*/
	margin-left: 35%;
	padding-top: 40px;
	padding-bottom: 30px;
}


h3{
	font-family: mySecondFont;
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: #6F4E37;
	text-shadow: 2px 2px #FEFCFF;
}


