 @font-face{
  	font-family: mySecondFont;
   src: url(/images/badscript.ttf);

}


nav{
	margin-top: 10px;
	margin-left: 50px;
	height: 150px;
	width: auto;

}

.logoutb{
	width: 200px;
	height: 150px;


}
.registerb {
	width: 150px;
	height: 100px;

}

.loginb {
	width: 150px;
	height: 100px;

}



.notice{
	font-family: mySecondFont;
	font-size: 16px;
	color: #493D26;

}

.alert{
	font-family: mySecondFont;
	font-size: 16px;
	color: #C36241;


}



p.hello{
	font-size: 20px;
	font-family: mySecondFont;
}

/*
form{
	width: 70%;
	margin-left: 200px

}*/


.formtop{
	width: 70%;
	height: 70px;
	margin-top: 0;
	margin-left: 15%;
	background-image: url("/images/tblue.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 20px;
}
.formtop-msg{
	font-size: 35px;
	text-align: center;
	color: #FEFCFF;
	text-shadow: 2px 2px #6F4E37;
	font-family: mySecondFont;
}

legend{
	font-family: mySecondFont;
	font-size: 30px;
	color: #FEFCFF;
}

fieldset{
	border: solid 3px #EDC9AF;
}

.regcontents{
	margin-left: 12%;
}

#formfield{
	width: 80%;
	height: auto;
	margin-left: 10%;
	background-image: url("/images/board.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

#formfield form{
	margin-top: 30px;
	margin-left: 10%;
	width: 80%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


#formfield .input {
	width: 500px;
	height: 50px;
	font-size: 20px;
	margin-top: 45px;
	font-family: mySecondFont;
	text-align: center;
}

#formfield label{
	font-size: 30px;
	font-family: mySecondFont;
	font-weight: bold;
	padding-right: 30px;
	color: #FEFCFF;
	
}


.book{
	margin: auto;
/*	margin-left: 30%;*/
	padding-top: 40px;
	padding-bottom: 30px;
}



/*footer{
	height: 100px;
	background-color: rgba(255, 245, 238, 0.9);
/*	border-radius: 80px;
}*/

h3{
	font-family: mySecondFont;
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
	color: #6F4E37;
	text-shadow: 2px 2px #FEFCFF;
}

