body{
	background-image: url("/images/wedding.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@font-face {
   font-family: myFirstFont;
   src: url(/images/cheddar_jack.ttf);

}

 @font-face{
  	font-family: mySecondFont;
   src: url(/images/badscript.ttf);

}

header{
	height: 150px;
	background-image: url(/images/halftone.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-repeat: no-repeat;*/

}

nav{
	width: 25%;
	height: 100px;
	background-image: url("/images/halftone.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-bottom: 30px;
}


p.hello{
	font-family: mySecondFont;
	font-size: 40px;
	font-weight: bold;
	color: #6F4E37;
	text-shadow: 5px 5px #FEFCFF;
	padding-left: 30px;
}

.alert{

	font-family: mySecondFont;
	font-size:30px;
	font-weight: bold;
	text-shadow: 2px 2px #FEFCFF;
	padding-left: 30px;
}




.notice{
	font-family: mySecondFont;
	font-size:30px;
	font-weight: bold;
	/*text-shadow: 2px 2px #FEFCFF;*/
	color: #FEFCFF;
	padding-left: 15%;
	padding-top: -60%;


}



.logoutb{
	width: 150px;
	height: 100px;


}
.registerb {
	width: 150px;
	height: 100px;

}

.loginb {
	width: 150px;
	height: 100px;

}

.flash{
	text-align: center;
	margin-left: 30%;
}

#top{
	width: 70%;
	height: 600px;
	margin-top: 50px;
	margin-left: 15%;
	background-color: rgba(255, 245, 238, 0.7);
	border-radius: 20px;
	background-image: url(/images/frame2.jpg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;

}

.topmsg{
	width: 70%;
	font-family: mySecondFont;
	font-size: 27px;
	color: #493D26;
	margin-left: 15%;
	padding-top: 200px;

}

#main{
	width: 70%;
	height: 400px;
	margin-top: 50px;
	margin-left: 15%;
	background-color: rgba(255, 245, 238, 0.7);
	border-radius: 20px;
}

.signup{
	display: inline;
	float: left;
	width: 450px;
	height: 350px;
	background-image: url(/images/button.jpg);	
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 50px auto auto 80px;
}

.login{
	display: inline;
	float: left;
	width: 450px;
	height: 350px;
	background-image: url(/images/button.jpg);	
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 50px 0 auto auto;
}

.loginmsg{
	font-size: 85px;
	color: #FEFCFF;
	text-align: center;
	margin-top: 100px;
	font-family: myFirstFont;

}



.sgupmsg{
	font-size: 75px;
	color: #FEFCFF;
	text-align: center;
	margin-top: 102px;
	font-family: myFirstFont;

}

a{
	text-decoration: none;
}

.book{

	margin-left: 35%;
	padding-top: 40px;
	padding-bottom: 30px;
}


footer{
	background-image: url(/images/halftone.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 60px;
	height: 100px;
	width: 100%;
}

h3{
	font-family: mySecondFont;
	font-size: 25px;
	text-align: center;
	padding-top: 25px;
	color: #6F4E37;
	text-shadow: 2px 2px #FEFCFF;
}

h1{
	font-family: mySecondFont;
	font-size: 80px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	color: #6F4E37;
	text-shadow: 5px 5px #FEFCFF;
}
